*{
    font-family: 'Roboto', sans-serif;
    /*background-color: #ffffff;*/
}
#header{
    color: #2b2b2b;
    border-bottom: #de1b1b solid 10px;
    font-family: 'Bungee', cursive;
}

#header h1{
    text-align:center;
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

li{
    text-align: justify;
}

p{
    text-align: justify;
}

#header p{
    text-align:center;
    font-size:15px;
}
.titre{
    text-align: left;
}

object{
    display: block;
    margin: auto;
    width: 100%;
}


.agrandir{
    text-align: center;
    padding:5px;
}

.col-md-4{
    padding:10 px;
}

.col-md-8{
    padding:10 px;
}

.div_padding{
    padding-left:10px;
}