/*Global*/
*{
	font-family: arial;
}

/*Adherents*/
adherents {
    background-color: #ffffff;
    width: 90%;
	display: block;
	margin:10px;
	horiz-align: middle;
}
adherents::before{
	content:"Liste des adhérents";
	font-size: 2em;
	text-align: center;
	margin: 15px;
	display: block;
}

adherent{
	display: inline-block;
	padding-bottom: 10px;
	border: solid 1px black;
	padding: 10px;
	margin:10px;
	width: 300px;
	horiz-align: middle;
	box-shadow: 2px 2px 5px 4px #a7a7a7;
}
adherent[etatAdhesion="Termine"] {

}
adherent[etatAdhesion="Actif"] {
}
adherentID{
	display: none;
	text-align: right;
}
prenom{
	display: inline;
	text-align: center;
}

nom{
	display: inline;
	text-align: right;
}

age{
	display: table-row;
}
age::before{
	content: "Âge : ";
	display: inline;
}

email{
	display: table-row;
}

telephone{
	display: table-row;
	text-align: center;
}

ouvrages{
	display: table;
}

ouvrage{
	display: table-row;
}
