/*Global*/
*{
	font-family: arial;
}
/*Adherents*/
adherents {
    background-color: #ffffff;
    width: auto;
	display: block;
	margin-left: 5%;
	margin-right:5%;
    zoom:70%;
}
adherents::before{
	content:"Liste des adhérents";
	font-size: 2em;
	text-align: center;
	padding: 15px;
	display: block;
	border-bottom: 1px solid #000;
	margin-bottom:20px;
	font-weight: bold;
}

adherent{
	display: inline-block;
	padding-bottom: 10px;
	border: solid 1px black;
	padding: 10px;
	margin:10px;
	width: 300px;
	horiz-align: middle;
	box-shadow: 2px 2px 4px 3px #a7a7a7;
}
adherent:hover{
	display: inline-block;
	padding-bottom: 10px;
	border: solid 1px black;
	padding: 10px;
	margin:10px;
	width: 300px;
	horiz-align: middle;
	box-shadow: 4px 4px 6px 4px #a7a7a7;
}
adherent[etatAdhesion="Termine"]>adherentID {
	color: #9f0002;
}

adherent[etatAdhesion="Termine"]>adherentID::after{
	content:"\00A0 - Abonnement expiré";
	text-align: right;
	display: inline-block;
	align-content: right;
	margin:auto;
	color: #9f0002;
}
adherent[etatAdhesion="Termine"] {
	box-shadow: none;
	border: solid 1px #9c9a9c;
	color: #5B5A5B;

}
adherent[etatAdhesion="Actif"]>adherentID {
	color: #06b904;
}

adherent[etatAdhesion="Actif"]>adherentID::after{
	content:"\00A0 - Abonnement actif";
	text-align: right;
	display: inline-block;
	align-content: right;
	margin:auto;
	color: #06b904;
}
adherentID{
	display: none;
	text-align: left;
}
prenom{
	display: inline ;
	text-align: center;
	align-content: center;
	font-size: 1.5em;
}

nom{
	display: inline;
	text-align: right;
	align-content: center;
	font-size: 1.5em;
}
age{
	display: table-row;
	padding:5px;
	text-align: left;
}
age::before{
	content: "Âge : ";
	display: inline;
	font-weight: bold;
}

email{
	display: table-row;
	padding:5px;
	text-align: left;
}
email::before{
	content:"Email : ";
	font-weight: bold;
	display: inline;
}
telephone::before{
	content:"Téléphone : ";
	font-weight: bold;
	display: inline;
}
telephone{
	display: table-row;
	text-align: left;
	padding:5px;
	margin:5px;
}
adherents::after{
	content:"Liste des ouvrages";
	font-size: 2em;
	text-align: center;
	padding: 15px;
	display: block;
	border-bottom: solid 2px #000;
	margin-top:30px;
	margin-bottom: 20px;
	font-weight:bold;
}

ouvrages{
	display: table;
	width:90%;
	margin-left: 5%;
	margin-right:5%;
    zoom: 70%;
}
ouvrage{
	display: table-row;
	padding:5px;
}

ouvrage:nth-child(2n+1)  {
	background-color: #eeeeee;
}
ouvrage:hover{
	background-color: #eae581;
}
ouvrage[disponibilite="Restreinte"]{
	color: #64070b;
}
ouvrageID{
	display: table-cell;
}
/*ouvrageID::before{
    content:"N°"
}*/
ISBN{
	display:table-cell;
}
/*ISBN::before{
    content:"ISBN :"
}*/
titre{
	display: table-cell;
	padding:10px;
}
/*titre::before{
    content:"Titre :"
}*/
auteur{
	display:table-cell;
}
/*auteur::before{
    content:"Auteur : "
}*/
annnePublication{
	display: table-cell;
}
/*anneePublication::before{
    content:"Publication : "
}*/
editeur{
	display: table-cell;
}
/*editeur::before{
    content:"Editeur : "
}*/
langue{
display: table-cell;
}
/*langue::before{
    content:"Langue : "
}*/



prets::before{
	content:"Liste des prêts";
	font-size: 2em;
	text-align: center;
	margin: 15px;
	display: block;
	text-align: center;
}
prets{
	display: table;
	width:90%;
	margin-left: 5%;
	margin-right:5%;
    zoom: 70%;
}
pret{
	display: table-row;
	padding:5px;
}
pret:nth-child(2n+1)  {
	background-color: #eeeeee;
}

pretID{
	display: table-cell;
    padding:10px;
}
pretID::before{
    content:"N° prêt : "
}
adherentID{
	display:table-cell;
}
adherentID::before{
    content:"N° Adherent : "
}
ouvrageID{
	display: table-cell;
}
pret>ouvrageID::before{
    content:"N° ouvrage : "
}
dateEmprunt{
	display:table-cell;
}
dateEmprunt::before{
    content:"Début : "
}

dateRetourPrevue{
	display: table-cell;
}
dateRetourPrevue::before{
    content:"Retour prévu : "
}
dateRetour{
	display: table-cell;
}
pret[status="Retard"]>dateRetour::before {
	content:"Prêt en retard";
	color: maroon;
	display: table-cell;
}
pret[status="Rendu"]>dateRetour {
		color: forestgreen;
}
pret[status="Rendu"]>dateRetour::before {
    content: "Rendu le ";
}
pret[status="En_cours"]>dateRetour::before {
	content:"Prêt en cours ";
	color: navy;
	display: table-cell;
}
pret:hover{
	background-color: #eae581;
}