*{
}
#header{
	color: #2b2b2b;
	border-bottom: #de1b1b solid 10px;
	font-family: 'Bungee', cursive;
	text-align: center;
}
.main{
	font-family: 'Roboto', sans-serif;
}
.main.p{
	text-align: justify;
}

#schema-structure{
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	margin-top: 20px;
}

.img-thumbnail{
	width: 70px;
	margin:5px;
}

.link-logo{
	text-align: center;
	display: inline-block;
	padding: 20px;
}
.shortcut{
	padding:10px;
}
.wrap{
	text-align: center;
}

.fixed{
	position: fixed;
}

.side-menu{
	position: fixed;
	width:20%;
	text-align: center;
}
