.header{
	padding-bottom: 20px;
}
body{
	font-family: Helvetica;
	color:#555444;
	padding:30px;
}

h1{
	color:	#2F4F4F;
	text-align:center;
}


h2{
	color:#008080;
	border-bottom: 1px;
	border-color: #6b9bc0;
}

li{
	color: #84d7b8;
}

small{
	color:#4682B4;
}

h4{
	text-align:right;
	font-size:15px;
}

object{
	display: block;
	margin: auto;
	width: 100%;
}

